/* font-family: 'Montserrat', sans-serif;
font-family: 'Kaushan Script', cursive;
font-family: 'Roboto', sans-serif; */
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style-type: none;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.wrapper{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

.center{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.container1{
    background-image: url('../images/back_head.png');
    height: 100vh;
    max-height: 1000px;
    min-height: 568px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    color: #ffffff;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-weight: 700;
    font-size: 30px;
    padding: 25px 0;
}

.menu{
    padding-top: 15px;
}

.menu ul{
    display: flex;
}

.menu ul li{
    padding: 0 27px;
    cursor: pointer;
}

.menu ul li a, .menu ul li i{
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.menu ul li:hover a, .menu ul li a:focus{
    color: #fce38a;
    border-bottom: 3px solid #fce38a;
    transition: 0.3s;
}

.menu ul li:hover i, .menu ul li i:focus{
    color: #fce38a;
    transition: 0.3s;
}

.container1 .content{
    text-align: center;
}

.container1 .content h2{
    font-family: 'Kaushan Script', cursive;
    font-size: 72px;
    font-weight: 400;
    padding-top: 10vh;
    text-transform: none;
    color: #ffffff;
}

.container1 .content h1{
    font-size: 150px;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
    width: 90%;
    margin: 0 auto;
    margin-top: 2.5%;
}

hr{
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 0 auto;
}

.container1 .content hr{
    background-color: #ffffff;
    margin-top: 5%;
}

.container1 .content a{
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
    padding: 10px 30px;
    border: 3px solid #ffffff;
    margin-top: 4.1%;
    font-size: 14px;
    font-weight: bold;
    transition: 0.5s ease-in-out;
}

.container1 .content a:hover{
    background-color: #ffffff;
    color: #fce38a;
}

.text{
    text-align: center;
    margin-top: 90px;
}

h3{
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #333333;
}

.indent h2{
    margin-top: 10px;
    margin-bottom: 30px;
}

h2{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333333;
}

.text p{
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    line-height: 1.5;
    text-align: center;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #999999;
}

.container2 .cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 110px;
}

.container2 .cards .item{
    width: 32%;
    position: relative;
    line-height: 0;
    transition: 0.5s ease;
}

.container2 .cards .item:hover{
    top: -10px;
    left: -10px;
    box-shadow: #95e1d3 10px 12px;
    transition: 0.8s ease;
}

.container2 .cards .hidden{
    position: absolute;
    text-align: center;
    top: 40%;
    left: 33%;
    color: #ffffff;
    font-size: 24px;
    opacity: 0;
}

.container2 .cards .item:hover .hidden{
    transition: 0.8s ease-in-out;
    opacity: 1;
}

.container2 .cards .hidden p{
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    margin-top: 15px;
}

.container2 .cards .item img{
    max-width: 100%;
    width: 100%;
    margin: 0;
}

.container3{
    background-color: #95e1d3;
}

.container3 .flex{
    height: 270px;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.container3 .flex .numbers{
    border-left: 1px;
    border-right: 1px;
    border-color: #b5eae0;
    border-style: solid;
    text-align: center;
    width: 239px;
    height: 270px;
    display: flex;
    align-items: center;
}

.container3 .numbers div{
    margin: 0 auto;
}

.container3 .flex h2{
    color: #ffffff;
    font-size: 72px;
}

.container3 .flex p{
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
}

.container4{
    margin-top: 100px;
}

.container4 .text{
    text-align: center;
}

.container4 .grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 50px;
    margin-top: 65px;
    margin-bottom: 70px;
}

.container4 .grid .sell:first-child{
    border-bottom: 1px solid #e5e5e5;
}

.container4 .grid .sell:nth-child(2){
    border-bottom: 1px solid #e5e5e5;
}

.container4 .grid .sell:nth-child(3){
    border-bottom: 1px solid #e5e5e5;
}

.container4 .grid .sell:nth-child(4){
    border-bottom: none;
}

.container4 .grid .sell:nth-child(5){
    border-bottom: none;
}

.container4 .grid .sell:last-child{
    border-bottom: none;
}

.container4 .grid .sell{
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
    padding-left: 4%;
}

.container4 .grid .icon{
    color: #95e1d3;
    display: inline-block;
    font-size: 32px;
}

.container4 .grid .content{
    display: inline-block;
    width: 75%;
}

.container4 .grid .content h4{
    text-transform: uppercase;
    font-size: 14px;
    color: #333333;
}

.container4 .grid .content p{
    line-height: 1.5;
    margin-top: 10px;
}

.container5{
    background-image: url('../images/con5_back.png');
    height: 850px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    margin-bottom: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.container5 .text{
    margin: 0 auto;
}

.container5 .images{
    display: flex;
    justify-content: center;
}

.container5 .img1{
    align-self: flex-end;
    position: relative;
}

.container5 .img1 img{
    width: 100%;
}

.container5 .img1 .img2{
    position: absolute;
    bottom: -100px;
    right: -19%;
}

.container6 .text{
    text-align: center;
    margin-top: 40px;
}

.container6 .container-fluid .image{
    height: 100%;
    padding-left: 0;
}

.container6 .container-fluid .image img{
    width: 100%;
}

.container6 .container_add{
    margin-top: 90px;
    margin-bottom: 120px;
    height: 360px;
}
.container6 .container_add .line{
    padding-right: 0;
}

.container6 .my-card{
    margin-bottom: 10px;
    border: 1px solid #e5e5e5;
}

.container6 .container_add .spisok{
    background-color: transparent;
    padding: 10px 0 10px 7px;
    margin-bottom: 0;
}

.container6 .container_add .card:last-child .spisok{
    margin-bottom: -1px;
}

.container6 .container_add button{
    font-weight: 500;
    font-size: 14px;
    color: #333333;
    text-transform: uppercase;
    text-decoration: none;
}

.container6 .container_add button .button_text{
    display: flex;
    align-items: center;
}

.container6 .container_add button i{
    font-size: 32px;
    color: #95e1d3;
    padding-right: 10px;
}

.container6 .container_add .show-my{
    border-bottom: 1px solid #e5e5e5;
}

.container6 .container_add .par{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 300;
    color: #acacac;
    height: 165px;
    overflow: auto;
    margin-right: 20px;
    padding-top: 15px;
}

#scroll::-webkit-scrollbar { width: 5px;}
#scroll::-webkit-scrollbar-button { height: 20px; background-color: transparent; }
#scroll::-webkit-scrollbar-thumb { background-color: #95e1d3; border-radius: 15px;}
#scroll::-webkit-scrollbar-track {background-color: #f5f5f5; border-radius: 20px;}

.container8 .gallery{
    margin-top: 90px;
    margin-bottom: 120px;
}

.container8 .card-add{
    width: 32%;
    text-align: center;
}

.container8 .card-add img{
    width: 100%;
}

.container8 .card-add .text-2{
    margin-top: 30px;
}

.container8 .gallery .images-gall{
    position: relative;
}

.container8 .gallery .images-gall:hover{
    top: -10px;
    left: -10px;
    box-shadow: #95e1d3 10px 12px;
    transition: 0.8s ease;
}

.container8 .gallery .hidden{
    transition: 0.5s;
    text-align: center;
    color: #ffffff;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(252, 227, 138, 0.7), rgba(243, 129, 129, 0.7)), linear-gradient(to bottom, rgba(252, 227, 138, 0.7), rgba(252, 227, 138, 0.7));
}

.container8 .gallery .images-gall:hover .hidden{
    opacity: 1;
}

.container8 .gallery .icons{
    display: flex;
    justify-content: center;
    margin-top: 55%;
}

.container8 .gallery .mini{
    padding-top: 15px;
    padding-bottom: 15px;
    width: 56px;
    background-color: #fce38a;
    border-right: 1px solid #f9bd87;
}

.container8 .gallery .mini:last-child{
    border-right: none;
}

.container8 .gallery .mini i{
    font-size: 26px;
    color: #f38181;
}

.container8 .gallery .mini:hover{
    background-color: #f38181;
}

.container8 .gallery .mini:hover i{
    color: #fce38a;
}

.container9{
    background-color: #f8f8f8;
    padding-top: 50px;
    padding-bottom: 50px;
}

.container9 .images{
    text-align: center;
}

.container10 .grid_cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    line-height: 0;
}

.container10 .grid_cards .item{
    position: relative;
}

.container10 .grid_cards .item .hidden{
    text-align: center;
    color: #ffffff;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(252, 227, 138, 0.7), rgba(243, 129, 129, 0.7)), linear-gradient(to bottom, rgba(252, 227, 138, 0.7), rgba(252, 227, 138, 0.7));
}

.container10 i{
    padding-top: 30%;
    font-size: 30px;
    margin-bottom: 2%;
}

.container10 i{
    padding-top: 30%;
    font-size: 30px;
    margin-bottom: 2%;
}

.container10 .grid_cards .item:nth-child(3) i{
    padding-top: 70%;
}

.container10 .grid_cards .item .hidden{
    text-align: center;
    color: #ffffff;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(252, 227, 138, 0.7), rgba(243, 129, 129, 0.7)), linear-gradient(to bottom, rgba(252, 227, 138, 0.7), rgba(252, 227, 138, 0.7));
}

.container10 h4{
    font-size: 14px;
    text-transform: uppercase;
    line-height: 2;
    margin-bottom: 2%;
}

.container10 p{
    line-height: 1;
    color: #ffffff;
    font-style: italic;
    font-weight: 300;
}

.container10 .grid_cards .item:hover .hidden{
    opacity: 0.9;
    transition: 0.8s ease-in-out;
}

.container10 .grid_cards .item:nth-child(3){
    grid-column: 3/4;
    grid-row: 1/3;
}

.container10 .grid_cards .item img{
    max-width: 100%;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container12{
    background-image: url(../images/con12.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
}

.container12 .name{
    text-align: center;
    padding-top: 6%;
}

.container12 .container_add{
    padding-top: 85px;
    padding-bottom: 62px;
}

.container12 .our_item{
    padding-bottom: 70px;
}

.container12 .our_item img{
    margin-right: 2rem !important;
}

.container12 .container_add .our_item h5, .container8 .card-add .text h5{
    font-weight: 500;
    font-size: 14px;
    color: #333333;
    text-transform: uppercase;
}

.container12 .container_add .our_item .about, .container8 .card-add .text .about{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
    color: #4b4b4b;
}

.container8 .card-add .text .about{
    color: #a6a6a6;
}

.container12 .container_add .our_item hr{
    margin: 0;
}

.container12 .container_add .our_item .desc{
    margin-top: 24px;
    width: 95%;
}

.container14{
    background-image: url(../images/con14_back.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container14 .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f38181;
}

.container14 .content .head-map{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container14 .content .head-map i{
    font-size: 26px;
    padding-top: 57px;
}

.container14 .content .head-map span{
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 15px;
}

.container14 .map{
    margin-top: 57px;
    opacity: 0;
    height: 0;
    width: 0;
    visibility: hidden;
}

.container14 .showmap{
    opacity: 1;
    height: 500px;
    width: 100%;
    visibility: visible;
    padding-bottom: 50px;
}

.container14 iframe{
    height: 100%;
    width: 100%;
    border: 3px solid #f9bd87;
}

@media(min-height:1000px){
    .container1 .content h2 {
        padding-top: 120px;
    }
}

@media(max-height:850px){
    .container1 .content h2 {
        padding-top: 6vh;
        font-size: 54px;
    }

    .container1 .content h1 {
        font-size: 134px;
        margin-top: 1%;
        width: 68%;
    }

    .container1 .content hr {
        margin-top: 3%;
    }
}

@media(max-height:700px){
    .container1 .content h2 {
        padding-top: 6vh;
        font-size: 50px;
    }

    .container1 .content h1 {
        font-size: 124px;
        width: 68%;
    }
}

@media(max-height:600px){
    .container1 .content h2 {
        padding-top: 2vh;
        font-size: 48px;
    }

    .container1 .content h1 {
        font-size: 108px;
        width: 64%;
    }

    .container1 .content hr {
        margin-top: 1%;
    }

    .container1 .content a {
        margin-top: 2.1%;
    }
}

@media(max-width:1024px){
    .menu{
        display: none;
    }

    .container1 {
        background-position-x: 55%;
    }

    .container1 .content h1{
        width: 100%;
        font-size: 130px;
    }

    .container1 .content h2 {
        font-size: 62px;
    }

    .container2 .cards {
        margin-top: 70px;
        margin-bottom: 80px;
    }

    .container2 .cards .item, .container8 .card-add{
        width: 48%;
        margin-bottom: 20px;
    }

    .text p {
        width: 100%;
    }

    .container3 .flex {
        flex-wrap: wrap;
        height: 400px;
    }

    .container3 .flex .numbers{
        border: none;
        height: 200px;
        width: 230.5px;
    }

    .container4 .grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin-top: 65px;
        margin-bottom: 70px;
    }

    .container4 .grid .sell:nth-child(4) {
        border-bottom: 1px solid #e5e5e5;;
    }

    /* .container6 .text p {
        width: 100%;
    } */

   .container10 .grid_cards{
        grid-template-columns: 1fr 1fr;
    }

    .container10 .grid_cards .item:nth-child(3){
        grid-column: 1/2;
        grid-row: 2/4;
    }
}

@media(max-width:810px){
    .container1 .content h1 {
        font-size: 124px;
    }

    .container1 .content h2 {
        font-size: 58px;
    }

    .container1 .content a {
        margin-top: 8.1%;
    }

    .container5 .img1 .img2 {
        right: 0;
    }
}

@media(max-width:768px){
    .container1 .content h1 {
        font-size: 110px;
    }

    .container1 .content h2 {
        font-size: 54px;
    }

    .container3 .flex .numbers{
        width: 181px;
    }
}

@media(max-width:680px){
    .container1 .content h1 {
        font-size: 97px;
    }

    .container1 .content h2 {
        font-size: 47px;
    }
}

@media(max-width:600px){
    .container2 .cards .item, .container8 .card-add{
        width: 100%;
    }   

    .container1 .content h1 {
        font-size: 84px;
    }

    .container1 .content h2 {
        font-size: 42px;
    }

    .container3 .flex{
        justify-content: space-between;
        height: 435px;
    }

    .container3 .flex .numbers{
        align-items: flex-start;
        height: 148px;
        width: 230px;
    }

    .container3 .flex h2 {
        font-size: 70px;
        margin-bottom: 0;
        margin-top: 10px;
    }
}

@media(max-width:520px){ /*доделать*/
    .container1 .content h1 {
        font-size: 76px;
    }

    .container1 .content h2 {
        font-size: 36px;
    }

    .container3 .flex .numbers{
        width: 190px;
    }

    .container5 {
        height: 750px;
    }
} /**/

@media(max-width:480px){
    .container1 .content h1 {
        font-size: 68px;
    }

    .container1 .content h2 {
        font-size: 34px;
    }
}

@media(max-width:425px){
    .container1 .content h2 {
        font-size: 36px;
    }

    .container10 .grid_cards{
        grid-template-columns: 1fr;
    }

    .container10 .grid_cards .item:nth-child(3){
        grid-row: 3/5;
    }
}